.font1 {
    font-family: Arial, Helvetica, sans-serif;
}

.font2 {
    font-family: helvetica, arial, sans-serif;
    ;
}
#bin{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    /* top: 0px; */
    position: sticky;
    top: 0;
}
#container {
    /* width: 100%; */
    display: grid;


    grid-template-columns: 200px 800px;
    grid-template-rows: 60px 400px 100px 400px;
    /* margin: auto; */
    gap: 30px;
    justify-content: center;
}

#container>div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/5;
    padding-left: 15px;
}

#container>div:nth-child(1)>hr, #container1>div:nth-child(1)>hr {
    margin: 0px;
    border: 0.1px solid #efefee;
}

#container>div:nth-child(1)>h1 {
    color: #4791c5;
    font-weight: 100px;
    font-size: 20px;
}

#container>div:nth-child(1)>ul>li, #container1>div:nth-child(1)>ul>li {
    list-style: none;
    margin-left: -40px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 16.7px;
}

#container>div:nth-child(1)>ul>li:nth-child(1), #container1>div:nth-child(1)>ul:first-child>li:first-child {
    font-weight: bold;
}

#container>div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding-top: 0.2%;
    font-size: 17px;
    letter-spacing: 1px;
    background-color: #f0f0f0;
}

#container>div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
}
#container3>div:nth-child(2),#container3>div:nth-child(3){
    display: flex;
    
}
#container3>div:nth-child(2)>div+div{
    width: 60%;
    height: 100%;
   
    /* background-size: cover; */
}
#container3>div:nth-child(2)>div+div>img,#container3>div:nth-child(3)>div+div>img{
    width: 100%;
    height: 100%;
}
#container3>div:nth-child(3)>div+div{
    width: 50%;
    height: 100%;
    
    
    /* background-size: cover; */
}
#container>div:nth-child(3)>div+div {
    width: 100%;
    /* display:inline; */
    background-image: url("https://media.kohlsimg.com/is/image/kohls/Mens-dp-20220303-hero-d");
    /* position: relative; */
    /* left: px;/ */
    height: 100%;
    /* background-color: aqua; */
}
#container3>div:nth-child(2)>div:first-child{
    width: 40%;
    position: relative;
    left: 15px;
    padding-top: 13%;
}
#container3>div:nth-child(3)>div:first-child{
    width: 50%;
    position: relative;
    left: 15px;
    padding-top: 13%;
}
#container>div:nth-child(3)>div:first-child {
    width: 50%;
    position: relative;
    left: 70px;
    padding-top: 13%;
}
#container3>div:nth-child(2)>div:first-child>h1{
    width: 370px;
    font-size: 37px;
    line-height: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 100;
    letter-spacing: 2px;
}
#container3>div:nth-child(3)>div:first-child>h1{
width: 480px;
font-size: 28px;
    line-height: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: 100; */
    letter-spacing: 2px;
}
#container3>div:nth-child(2)>div:first-child>h1+p{
    font-weight: bold;
    font-size: large;
}
#container3>div:nth-child(2)>div:first-child>button{
    background-color:#6051ba;
    border: 0px;
    height: 44px;
    width: 150px;
    color:#fffff6;
    font-size: 18px;

    
}
#container3>div:nth-child(3)>div:first-child>button{
    display: block;
    margin: auto;
    height: 43px;
    width: 154px;
    background-color: black;
    color:#fffff6;
    border: 0px;
    font-size: 17px;
}
#container3>div:nth-child(3)>div:first-child>h1:nth-child(2){
    margin-left: 100px;
}
#container>div:nth-child(3)>div:first-child>h1 {
    width: 300px;
    font-size: 35px;
    line-height: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    letter-spacing: 2px;
}

#container>div:nth-child(3)>div:first-child>h1+p {
    font-weight: bold;
    text-decoration: underline;

}

#container>div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

#container>div:nth-child(4)>h2 {
    margin-top: 5px;
}

#container>div:nth-child(4)>div {
    display: flex;
    justify-content: space-evenly;
}

#container>div:nth-child(4)>div>button {
    width: 140px;
    height: 40px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 18px;
}

#container>div:nth-child(5) {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #97d1ca;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 170px);
    gap: 20px;
}

#container>div:nth-child(5)>div, #container1>div:nth-child(3)>div {

    text-align: center;
}

#container>div:nth-child(5)>div>p, #container1>div:nth-child(3)>div>p {
    position: relative;
    bottom: 74px;
    background-color: #fcfcfb;
    font-weight: bold;
    padding: 18px;
    /* width: 8%; */

}

#container>div:nth-child(5)>div>img, #container1>div:nth-child(3)>div>img {
    height: 100%;
    width: 100%;

}

#container>div:nth-child(5)>div:nth-child(5)>p, #container1>div:nth-child(3)>div:nth-child(3)>p, #container1>div:nth-child(3)>div:nth-child(4)>p {

    padding-left: 0px;
    padding-right: 0px;
}

#container>div:nth-child(5)>div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url("");

}

#container>div:nth-child(5)>div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

#container>div:nth-child(5)>div:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}

#container>div:nth-child(5)>div:nth-child(4) {
    grid-column: 4/5;
    grid-row: 1/2;
}

#container>div:nth-child(5)>div:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
}

#container>div:nth-child(5)>div:nth-child(6) {
    grid-column: 3/4;
    grid-row: 2/3;
}

#container>div:nth-child(5)>div:nth-child(7) {
    grid-column: 4/5;
    grid-row: 2/3;
}

#container1 {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 200px 800px;
    grid-template-rows: 350px 600px;
    /* margin: auto; */
    gap: 30px;
    justify-content: center;
}

#container:hover{
    cursor: pointer;
}
#container1>div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    padding-left: 15px;
}

#container1>div:nth-child(1)>ul~ul>li {
    color: red;
}

#container1>div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    /* display: flex; */
}

#container1>div:nth-child(2)>div {
    display: flex;
    justify-content: space-between;
}

#container1>div:nth-child(2)>div>div {

    width: 180px;
    height: 280px;


}

#container1>div:nth-child(2)>div>div>img {
    width: 100%;
    height: 100%;
}

#container1>div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 186px);
    gap: 20px;
}

#container1>div:nth-child(3)>div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

#container1>div:nth-child(3)>div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

#container1>div:nth-child(3)>div:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}

#container1>div:nth-child(3)>div:nth-child(4) {
    grid-column: 4/5;
    grid-row: 1/3;
}

#container1>div:nth-child(3)>div:nth-child(5) {
    grid-column: 1/2;
    grid-row: 2/3;
}

#container1>div:nth-child(3)>div:nth-child(6) {
    grid-column: 2/3;
    grid-row: 2/3;
}

#container1>div:nth-child(3)>div:nth-child(7) {
    grid-column: 3/4;
    grid-row: 2/3;
}

#container1>div:nth-child(3)>div:nth-child(8) {
    grid-column: 1/2;
    grid-row: 3/4;
}

#container1>div:nth-child(3)>div:nth-child(9) {
    grid-column: 2/3;
    grid-row: 3/4;
}

#container1>div:nth-child(3)>div:nth-child(10) {
    grid-column: 3/4;
    grid-row: 3/4;
}

#container1>div:nth-child(3)>div:nth-child(11) {
    grid-column: 4/5;
    grid-row: 3/4;

}
#container3 {
    /* width: 100%; */
    display: grid;


    grid-template-columns: 200px 800px;
    grid-template-rows: 350px 350px 130px ;
    /* margin: auto; */
    gap: 30px;
    justify-content: center;
}
/* #container3>div{
    /* border: 1px solid black; */
/* } */ 
#container3>div:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/4;
}
#container3>div:nth-child(2){
grid-column: 2/3;
grid-row: 1/2;
}
#container3>div:nth-child(3){
grid-column: 2/3;
grid-row: 2/3;
}
#container3>div:nth-child(4){
grid-column: 2/3;
grid-row: 3/4;
display: flex;
justify-content: space-between;
}
#container3>div:nth-child(4)>.first{
    
    height: 100%;
    width: 48%;

}
#container3>div:nth-child(4)>#one:first-child{
    border: 0.5px solid rgba(0, 0, 0, 0.342);
}
#container3>div:nth-child(4)>#one>div:nth-child(1){
    text-align: center;
}
#container3>div:nth-child(4)>#one>div:nth-child(1)>h2~span{
font-weight: bold;
font-size:16px ;
/* margin-bottom: 60px; */
}
#container3>div:nth-child(4)>#one>div:nth-child(1)>h2{
    margin: 10px;
    font-size: 30px;
}

#container3>div:nth-child(4)>#one>div:nth-child(1)>h2+span~span{
text-decoration: underline;
font-size: 14px;
}
#container3>div:nth-child(4)>#one>div:nth-child(2){
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

#container3>div:nth-child(4)>#one>div:nth-child(2)>div{
    display: flex;
    /* display: block; */
    

    
}
#container3>div:nth-child(4)>#one>div:nth-child(2)>div>div:first-child>.fa-cart-arrow-down,.fa-taxi{
    color: red;
    font-size: 40px;

}
#container3>div:nth-child(4)>#one>div:nth-child(2)>div>div:nth-child(2)>span{
    display: block;
    font-weight: bold;
    font-size: 14px;
    
}
#container3>div:nth-child(4)>#two{
    background-color:#bd0f1b;
    color: white;
    text-align: center;
}
#container3>div:nth-child(4)>#two>h2{
    /* color: white; */
    font-size: 30px;
    margin:10px ;
}
#container3>div:nth-child(4)>#two>p+p{
    text-decoration: underline;
}
#container3>div:nth-child(4)>#two>p{
    font-size: 15px;
}
#can1>hr+#stick{
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* overflow: hidden; */
   
}




