
.womenBox{
    width: 90%;
    height: 250px;
    display: flex;

    

}
.womenBox>div{
    width: 70%;
    height: 100%;
    
    
    
}
.innerbox{
    margin-left: 90px;
}
.innerbox > img{
    width:100%;
    cursor: pointer;
    

}
h4{
    margin-left: 50px;
}
p{
    text-align: center;
    cursor: pointer;
}
select{
    
    padding: 10px 30px;
    border-radius: 5px;
}
.selectdiv{
    margin-left: 50px;
    display: flex;
    gap: 100px;
}
hr{
    width: 95%;
}

#contbox {
    width: 75%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    

}
#contbox >div{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 10px;
}

@media all and (min-width: 80px) and (max-width: 400px) {
#contbox {
grid-template-columns: repeat(1, 1fr);
}
}

@media all and (min-width: 421px) and (max-width: 720px) {
#contbox {
grid-template-columns: repeat(2, 1fr);
}
}

/* <womenmainpageCSS> */
#womendiv{
    display: flex;
    width: 70%;
    margin: auto; 
    cursor: pointer;
    
    
}
a{
    text-decoration: none;
    color: black;
    
}

#first{
    width: 20%;
 

}
#first>div>img{
    width: 100%;
}

#second{
    width: 80%;
    height: 100%;
    margin-left: 20px;
    /* border: 1px solid black; */

}
li{
    list-style-type: none;
    
}
#sndfst{
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 20px;
}
form{
    color: red;
}
#wmn{
    color: #8a9fca;
    
    
}


h2{
    text-align: center;
    
}

button{
    margin: 30px;
    line-height: 2.5;
    background-color: white;
    border: 2px solid black;
    color: black;
    
   
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}        

#sndImg > img{
    width: 100%;
}

#fstContainer{
    width: 100%;
    height: 450px;
   
    display: flex;
    gap: 20px;
}
#fstContainer>div{
    width: 30%;
   

}
#sndContainer{
    width: 100%;
    height: 450px;
    background-color: #f0e8dd;
    display: flex;
    gap: 20px;
}
#sndContainer>div{
    width: 30%;
    

}
h5{
    text-align: center;

}

#sndlastdiv > img{
    width: 100%

}
