/* 
Shop by Category | My stores div 
*/

.shopByCat {
  width: 97%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.shopByCat > div {
  width: 30%;
  height: auto;
  /* border: 1px solid red; */
  align-items: center;
  display: flex;
}

.shopByCat div i {
  font-size: 16px;
  padding-right: 20px;
  margin-top: -25px;
}

.shopByCat div a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.shopByCat > div:nth-child(1) a {
  padding-right: 25px;
}

.shopByCat div:nth-child(2) {
  justify-content: flex-end;
}

.shopByCat div:nth-child(2) a {
  padding-right: 20px;
}

/* 
End of Shop by Category | My stores div 
*/

/* 
Shoes on Sale div 
*/

.shoesOnSale {
  width: 90%;
  height: auto;
  margin: auto;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.shoesOnSale a {
  text-decoration: none;
  color: #967b7b;
}

.shoesOnSale a:hover {
  text-decoration: underline;
}

.shoesOnSale > h3 + a + a {
  border-left: thin solid #967b7b;
  padding-left: 10px;
}

/* 
End of Shoes on Sale div 
*/

/* 
Shoes Main Body 
*/

#shoesBody {
  width: 95%;
  height: auto;
  margin: auto;
  /* border: 1px solid green; */
}

#shoeSideBar {
  width: 16%;
  float: left;
  /* border: 1px solid black; */
  height: auto;
}

#shoeSideBar > div {
  width: 90%;
  height: auto;
  /* border: 1px solid rgb(196, 52, 52); */
  display: flex;
  justify-content: space-between;
  /* margin: 10px; */
  font-size: 16px;
  line-height: 25px;
}

.sideIcon {
  padding: 0px;
  font-size: 16px;
}

.sideBarDiv {
  border: 1px solid red;
}

.discItem {
  width: 100%;
  display: block;
  display: none;
}

/* Shoe Display Section */

#shoeDisplay {
  width: 81%;
  float: left;
  /* border: 1px solid grey; */
  height: auto;
  padding-left: 20px;
}

/* 
Shoes Category 
*/

#shoesCat {
  width: 80%;
  height: auto;
  /* border: 1px solid goldenrod; */
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 80px;
  text-align: center;
  cursor: pointer;
}

#shoesCat a {
  text-decoration: none;
}

/* #shoesCat > div {
  border: 1px solid red;
} */

#shoesCat h4 {
  color: #6f7072;
  font-size: 16px;
}

#shoesCat h4:hover {
  text-decoration: underline;
  color: #4d545d;
}

/* 
End of Shoes Category 
*/

/* 
Sort by and Show items
*/

#sortText {
  font-size: small;
  color: #422e2e;
}

#sortText + select {
  color: #422e2e;
  padding: 10px;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* 
End of Sort by and Show items
*/

/* 
Shoes Lists 
*/

#shoesList {
  width: 100%;
  height: auto;
  /* border: 1px solid goldenrod; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* row-gap: 50px; */
  column-gap: 30px;
}

#shoesList > div {
  /* border: 1px solid teal; */
  text-align: center;
  padding: 10px;
}

.bSellerDiv {
  /* border: 1px solid green; */
  height: 35px;
}

.shoebtn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: greenyellow;
  font-weight: bold;
}

.shoebtn:hover {
  background-color: yellowgreen;
}

.colorContainer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  /* border: 1px solid greenyellow; */
  height: 30px;
  margin: 10px;
}

.regular {
  color: #92879b;
  margin-top: -25px;
}

.regular + a {
  text-decoration: none;
  color: #554d46;
  font-size: 18px;
  font-family: var(--ff-normal);
}

.shoeName {
  /* background-color: red; */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 95%;
  max-height: 60px;
  overflow: hidden;
}

.shoeName:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(249, 249, 249);
}

.regular + a + a {
  text-decoration: none;
  color: #554d46;
  line-height: 25px;
  font-size: 15px;
}

.regular + a + a:hover {
  text-decoration: underline;
}

.sponsored {
  color: #554d46;
  font-size: 16px;
  margin-top: -20px;
}

/* 
End of Shoes Lists 
*/

/* 
Popular Searches and Shoes on Sale 
*/

.popularSearchList {
  width: 90%;
  height: auto;
  /* border: 1px solid goldenrod; */
  margin: auto;
  color: #554d46;
}

.psdiv {
  width: 100%;
  height: auto;
  /* border: 1px solid blueviolet; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}

.psdiv > div {
  /* border: 1px solid red; */
  margin-top: 10px;
  margin-bottom: 20px;
}

.psdiv > div a {
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.psdiv > div a:hover {
  text-decoration: none;
}

/* 
End of Popular Searches and Shoes on Sale 
*/

/* 
End of Shoes Main Body 
*/

.topLink {
  /* background-color: yellow; */
  width: 150px;
  height: auto;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.topLink a {
  text-decoration: none;
  color: #554d46;
  font-size: 15px;
  font-weight: bold;
}

.up-angle {
  padding: 0;
}

.topLink a:hover .up-angle {
  color: black;
  transform: translateY(-8px);
  transition: all linear 0.3s;
}
